<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6.camera+sepia</key>
	<dict>
		<key>device</key>
		<string>0</string>
		<key>appId</key>
		<string>578137731</string>
		<key>icon</key>
		<string>sepia_icon.png</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/camera-+-sepia-pro/id578137731?mt=8</string>
		<key>name</key>
		<string>Old photo effects </string>
	</dict>
	<key>paswords</key>
	<dict>
		<key>device</key>
		<string>1</string>
		<key>appId</key>
		<string>654443419</string>
		<key>icon</key>
		<string>password.png</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/passwords-pro/id654443419?l=en&amp;mt=8</string>
		<key>name</key>
		<string>Manage passwords</string>
	</dict>
	<key>timer</key>
	<dict>
		<key>device</key>
		<string>1</string>
		<key>appId</key>
		<string>391369773</string>
		<key>icon</key>
		<string>timer.png</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/passwords-pro/id654443419?l=en&amp;mt=8</string>
		<key>name</key>
		<string>Take photo with timer</string>
	</dict>
	<key>artcam</key>
	<dict>
		<key>device</key>
		<string>0</string>
		<key>appId</key>
		<string>538737730</string>
		<key>icon</key>
		<string>artcam.png</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/artcam/id538737730?l=en&amp;mt=8</string>
		<key>name</key>
		<string>Enjoy real time camera effects </string>
	</dict>
	<key>big nose</key>
	<dict>
		<key>device</key>
		<string>0</string>
		<key>appId</key>
		<string>583693496</string>
		<key>icon</key>
		<string>nose.png</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/christmas-fun-camera/id583693496?l=en&amp;mt=8</string>
		<key>name</key>
		<string>Take a big nose face photo</string>
	</dict>
	<key>toon</key>
	<dict>
		<key>device</key>
		<string>0</string>
		<key>appId</key>
		<string>583614582</string>
		<key>icon</key>
		<string>toon.png</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/camera-+-toon-pro/id583614582?l=en&amp;mt=8</string>
		<key>name</key>
		<string>The cool toon effect </string>
	</dict>
	<key>note </key>
	<dict>
		<key>device</key>
		<string>2</string>
		<key>appId</key>
		<string>486030925</string>
		<key>icon</key>
		<string>note.png</string>
		<key>link</key>
		<string>https://itunes.apple.com/app/camera-+-toon-pro/id583614582?l=en&amp;mt=8</string>
		<key>name</key>
		<string>Quick note with finger</string>
	</dict>
</dict>
</plist>
